@import url("https://fonts.googleapis.com");

@import url("css/compenents/container.css");

@import url("css/compenents/avatar.css");

@import url("css/compenents/button.css");

@import url("css/compenents/banner.css");




body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin:0 px;
}

h1,h2,h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}


h3{
	font-size: 16px;
}

img {
	width: 100px;
	height: 100px;
}

a {
	text-decoration:none;
}

.card {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	flex-basis: 270px;
	flex-grow: 1;
	margin: 10px;
}

.cards {
	display: flex;
	flex-wrap: wrap;

}